set autoindent
set matchbrackets "(<[{)>]}"
set linenumbers
set nowrap
bind ^w cut main
bind M-w copytext main
bind ^s whereis main
bind ^@ mark main
bind M-g gotoline main
unbind ^g main
bind ^y uncut main
bind ^u undo main
bind M-u redo main
bind ^g cancel all
bind M-< firstline main
bind M-> lastline main
bind M-V pageup main
bind M-% replace main
include "/usr/share/nano/*.nanorc"
